In [ ]:
35 + '10' #數字+字串 不能執行

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
'35' + '10' #字串+字串 可以執行
'35' - '10' #字串-字串 無法執行

'3510'

In [8]:
number1 = 10 #建立變數
type(number1) #檢查變數型別
number2 = 20.0
type(number2)
value = number1 + number2 #int + float = float
print(value)
type(value)

30.0

float

In [15]:
#轉換型別
str1 = '30'
num1 = 30
value = int(str1) + num1
value

60

In [ ]:
int(30a) #無法轉換

SyntaxError: invalid decimal literal (399620996.py, line 1)