In [46]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.424463 -0.357922
1    a  two -1.667390  1.789050
2    b  one -0.943382  1.107157
3    b  two  0.127815 -1.276515
4    a  one -0.512799  0.482994

In [47]:
df.groupby('key1') #DataFrame執行Groupby
mean_df = df.groupby('key1')[['data1', 'data2']].mean() ## 只對數值欄位計算平均值（避免對物件欄位套用 mean
mean_df

         data1     data2
key1
a    -0.585242  0.638041
b    -0.407783 -0.084679

In [48]:
mean_df.stack()

key1
a     data1   -0.585242
      data2    0.638041
b     data1   -0.407783
      data2   -0.084679
dtype: float64

In [49]:
df1 =  df.groupby('key1')[['data1', 'data2']].agg(['mean', 'std'])
df1 #3維資料
df1.columns.names = ["資料","統計"]
df1.index.name = "類別"
print(df1)
print("------------------------------------------------------------")
#樞紐分析表
a = df1.stack(level="統計",future_stack=True)
b = df1.stack(level="資料",future_stack=True)
print(a)
print("------------------------------------------------------------")
print(b)

資料     data1               data2
統計      mean       std      mean       std
類別
a  -0.585242  1.047806  0.638041  1.081851
b  -0.407783  0.757450 -0.084679  1.685511
------------------------------------------------------------
資料          data1     data2
類別 統計
a  mean -0.585242  0.638041
   std   1.047806  1.081851
b  mean -0.407783 -0.084679
   std   0.757450  1.685511
------------------------------------------------------------
統計            mean       std
類別 資料
a  data1 -0.585242  1.047806
   data2  0.638041  1.081851
b  data1 -0.407783  0.757450
   data2 -0.084679  1.685511

In [50]:
import pandas as pd
df = pd.DataFrame({'性別': ['男', '女', '男', '女'],
                   '分數': [80, 90, 70, 85]})
display(df)
grouped = df.groupby('性別')
print(grouped.mean())

  性別  分數
0  男  80
1  女  90
2  男  70
3  女  85

      分數
性別
女   87.5
男   75.0