In [12]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.027611  1.042708
1    a  two  1.255645  0.315196
2    b  one -0.031150  0.671235
3    b  two -0.804957  0.256381
4    a  one -0.746924 -0.394118

In [ ]:
# Series Groupby是series的分組
display(df['data1'])
display(df['key1'])
df['data1'].groupby(df['key1']) #Series執行Groupby
df['data1'].groupby(df['key1']).mean()

0   -1.472932
1    0.852425
2   -1.007723
3    0.806612
4   -2.236784
Name: data1, dtype: float64

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

key1
a   -0.952430
b   -0.100555
Name: data1, dtype: float64

In [5]:
df['data1'].groupby(df['key1']).agg(['mean', 'std'])

          mean       std
key1
a    -0.952430  1.609035
b    -0.100555  1.282929

In [6]:
mean = df['data1'].groupby([df['key1'], df['key2']]).mean()
mean

key1  key2
a     one    -1.854858
      two     0.852425
b     one    -1.007723
      two     0.806612
Name: data1, dtype: float64

In [ ]:
mean.unstack().stack() #長資料(堆疊資料)

key1  key2
a     one    -1.854858
      two     0.852425
b     one    -1.007723
      two     0.806612
dtype: float64

In [ ]:
mean.unstack() #寬資料(非堆疊資料)

key2       one       two
key1
a    -1.854858  0.852425
b    -1.007723  0.806612